---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import Nord color palette from: https://github.com/arcticicestudio/nord
@import "nord";

// Our variables
$base-font-family: 'Crimson Text', serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     15px;

$text-color:       $nord0;
$background-color: $nord4;
$brand-color:      #5E81AC;

$grey-color:       $nord3;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-phone:          600px;
$on-laptop:        800px;


html {
    height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

.above-footer, .site-header, .page-content, .site-footer, {
    display: flex;
}

.above-footer {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: $spacing-unit;
}

.site-header {
    font-family: 'Ubuntu', sans-serif;
    padding: $spacing-unit;
    height: 80px;
    width: 100%;
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        background-color: $nord8;
    }
}

.page-content {
    padding: $spacing-unit;
    flex-direction: column;
    width: 100%;
    .wrapper {
        display: block;
    }
    li {
        display: list-item;
        list-style: none;
    }
}

.subheader {
    background: grey;
    visibility: hidden;
}

.site-footer {
    justify-content: center;
    li {
        display: list-item;
        list-style: none;
    }
}

.social-media-list {
    display: flex;
    justify-content: space-around;
}

.social-media-list .fa, .copyright {
    color: $nord10;
}

.footer-wrapper {
    display: list-item;
    list-style: none;
}


// Fonts and font sizing
h1, h2, .page-heading, .post-header, .post-link:link, .post-link:visited {
    font-family: 'Ubuntu', sans-serif;
    color: $nord1;
}

p {
    font-size: $base-font-size;
}

.site-title {
    font-size: 30px;
}

.site-title:link, .site-title:visited, .page-link:link, .page-link:visited {
    color: $nord1;
}

.site-title:hover, .page-link:hover {
    color: $nord11;
}


// Padding and margins
.post-content {
    p {
        padding-bottom: 15px;
    }
    h1, h2, h3, h4, h5, h6 {
    padding-top: 15px;
    }
}


// Colors
.post-meta {
    color: $nord9;
}



/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .page-content {
        max-width: $on-phone;
    }
}

// tablet
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

// desktop
@media only screen and (min-width: 961px) {
    .above-footer {
        flex-direction: row;
        justify-content: center;
    }
    .site-header{
        flex: initial;
        width: 100px;
        padding: 0;
        .wrapper {
            position: absolute;
            flex-direction: column;
            background: $nord9;
            width: 100px;
            height: 150px;
            border-radius: 5px;
            padding: 15px;
        }
    }
    .page-content {
        width: $content-width;
    }

    .site-footer {
        width: $content-width;
        margin: 0 auto;
    }
    .menu-icon {
      visibility: hidden;
    }
}


.navbar-fixed {
    position: fixed;
    padding-top: 0px;
}


// Highlight color settings
::-moz-selection { /* Code for Firefox */
    color: $nord4;
    background: $nord11;
}

::selection {
    color: $nord4;
    background: $nord11;
}
