---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import Nord color palette from: https://github.com/arcticicestudio/nord
@import "nord";

// Our variables
$base-font-family: 'Crimson Text', serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       $nord0;
$background-color: $nord4;
$brand-color:      #5E81AC;

$grey-color:       $nord3;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


// Highlight color settings
::-moz-selection { /* Code for Firefox */
    color: $nord4;
    background: $nord11;
}

::selection {
    color: $nord4;
    background: $nord11;
}

.site-header {
    font-family: 'Ubuntu', sans-serif;
    border-style: none;
    margin-bottom: 50px;
}

.site-footer {
    border-style: none;
}

.social-media-list {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.social-media-list .fa, .copyright {
    color: $nord10;
}

.footer-wrapper {
    display: list-item;
    list-style: none;
}

.site-title:link, .site-title:visited, .page-link:link, .page-link:visited {
    color: $nord11;
}

.site-title:hover, .page-link:hover {
    color: darken($nord11, 20%)
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}


h1, h2, .page-heading, .post-header, .post-link:link, .post-link:visited {
    font-family: 'Ubuntu', sans-serif;
    color: $nord1;
}

.site-header.wrapper {
    display: flex;
    justify-content: space-between;
}

.post-meta {
    color: $nord9;
}