---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import Nord color palette from: https://github.com/arcticicestudio/nord
@import "nord";

// Our variables
$base-font-family: 'Crimson Text', serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       $nord0;
$background-color: $nord4;
$brand-color:      #5E81AC;

$grey-color:       $nord3;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-phone:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.

html {
    height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

.above-footer, .site-header, .page-content, .site-footer, .wrapper {
    display: flex;
}

.above-footer {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: $spacing-unit;
}

.site-header {
    background-color: gray;
    font-family: 'Ubuntu', sans-serif;
    padding: $spacing-unit;
    flex: initial;
    width: 200px;
    .wrapper {
        display: absolute;
        background: $nord9;
        height: 150px;
        border-radius: 5px;
        padding: 15px;
    }
}

.page-content {
    background: goldenrod;
    padding: $spacing-unit;
    flex: initial;
    max-width: $content-width;
    flex-direction: column;
    .wrapper {
        display: block;
    }
}

.subheader {
    background: grey;
    flex: initial;
    width: 200px;
    visibility: hidden;
}

.site-footer {
    background:red;
}

.social-media-list {
    display: flex;
    justify-content: space-around;
}

.social-media-list .fa, .copyright {
    color: $nord10;
}

.footer-wrapper {
    display: list-item;
    list-style: none;
}


// Fonts and font sizing
h1, h2, .page-heading, .post-header, .post-link:link, .post-link:visited {
    font-family: 'Ubuntu', sans-serif;
    color: $nord1;
}

.site-title {
    font-size: 30px;
}

.site-title:link, .site-title:visited, .page-link:link, .page-link:visited {
    color: $nord1;
}

.site-title:hover, .page-link:hover {
    color: $nord11;
}


// Padding and margins
.post-content {
    p {
        padding-bottom: 15px;
    }
    h1, h2, h3, h4, h5, h6 {
    padding-top: 15px;
    }
}


// Colors
.post-meta {
    color: $nord9;
}



/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .page-content {
        max-width: $on-phone;
    }
    .site-header {
        .wrapper {
       
    }
  }
}

// tablet and monitor-sized styles
@media only screen and (min-width: 401px) {
    .menu-icon {
      visibility: hidden;
    .site-header{
        .wrapper {
            display: flex;
            justify-content: left;
            align-items: flex-end;
            .site-title {
                margin-right: 50px;
            }
        }
    }
}


    .navbar-fixed {
        position: fixed;
        padding-top: 0px;
        }
}


// Highlight color settings
::-moz-selection { /* Code for Firefox */
    color: $nord4;
    background: $nord11;
}

::selection {
    color: $nord4;
    background: $nord11;
}
